
.App {
  text-align: center;
  height: 100vh;
  display: grid;
  place-items: center;
}
  
.App__form {
  display: flex;
  flex-direction: column;
}
  
input {
  padding: 7px 11px;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid gray;
  margin: 20px;
  outline: none;
}
  
button {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
}

#note-list{
  text-align:center;
  background-color:#ededed;
}

#note-list ul{
  list-style-type:none;
  padding-left:0;
}

.note-list-year{
  background-color:#cfcfcf;
}

.note-list-month{
  background-color:#b3b3b3;
}

.note-list-day{
  background-color:#575555;
}

.note-list-note{
  background-color:#383838;
  color:white;
}